.container {
  padding: 0 20px;
  margin: 0 auto;
}

a {
  display: block;
  margin-bottom: 30px;
  padding: 10px 0;
  font-weight: bold;
  font-size: 1.2em;
  color: $d-green;
  &:hover{
    color: $green;
  }
}