#welcome {
  text-align: center;

  .icon>div {
    height: 40px;
    width: 40px;
    margin: 20px auto;
  }
}

@media (min-width: 640px) {
  a {
    display: inline-block;
  }

}

@media (min-width: 1024px) {
  .laptop\:text-center { text-align: center }
}

@media (min-width: 1280px) {
  .desktop\:text-center { text-align: center }
}